body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E0EAF5;
}

h1{
    background-color: #FF8E2B;
    color:#0d2137;
    text-align: center;
}

a{
    color:#0d2137;
}

a.sem-sublinhado{
    text-decoration: none;
    color: #0d2137;
}
a.sem-sublinhado:hover{
    color:#FF8E2B;
}

a:hover{
    color: #2e77ae;
}

h2{
    color: #0d2137;
}

h2#principal{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #FF8E2B;
    background-color: #0d2137;
    border: 2px solid #b8b8b8;
}

h3{
    color: #2e77ae;
}

ol{
    color: #0d2137;
    background-color: lightgray;
}


#title{
    color:#0d2137;
    font-size: 50px;
    text-align:center;
}

span{
    font-weight: bold;
}

div{
    margin: 10px;
}


div.agrupamento{

    font-family: Arial, Helvetica, sans-serif ;
    color:#0d2137ee;
    background-color: white;
    border: 2px solid gray;
    margin: 30px;
    padding: 30px;
}

.personalizado:hover{
    color:#0d2137; 
    background-color:rgb(187, 187, 187);
}

.exemplo1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #0d2137;
    color: #FF8E2B;
    border: 1px solid #FF8E2B;
    padding: 10px;
    width: 80px;
    height: 30px;
}

.exemplo2{
    font-family: fantasy;
    background-color: #FF8E2B;
    border: 1px solid #ff8e2b9c;
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: 50px;
}

.personalizado{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color:#0d2137;
    border: 2px solid gray;
    margin: 30px;
    padding: 30px;
}

.listagem{
    background-color: white;
    padding: 10px
}

.pseudo{
    color:#0d2137;
    background-color: #FF8E2B;
    text-align: center;
    border-radius: 10%;
    border: 2px solid #FF8E2B;
    padding: 15px;
    width: 50px;
    font-weight: bold;
}
.pseudo:hover{
    color:#FF8E2B;
    background-color: white;
    border: 2px solid #FF8E2B;
    font-weight: bold;
}

.pseudodef{
    background-color: #FF8E2B;
    padding: 10px;
    border: 10px;
}
.pseudodef > div{
    display: none;
    
}
.pseudodef:hover > div{
    display: block;
}

.seletores > strong::selection{
    color: #FF8E2B;
    background-color: #0d2137;
}

.agrupamento > p::first-letter{
    font-size: xx-large;
    color:#0d2137;
}