body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E0EAF5;;
}

h1{
    background-color: #FF8E2B;;
    color:#0d2137;
    text-align: center;
}

h2{
    color: #0d2137;
}

h3{
    color: #2e77ae
}