body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E0EAF5;
}

h1{
    background-color: #FF8E2B;
    color:#0d2137;
    text-align: center;
}

a{
    color:#0d2137;
}

a:hover{
    color: #2e77ae;
}

h2{
    color: #0d2137;
}

h3{
    color: #2e77ae;
}

ol{
    color: #0d2137;
    background-color: lightgray;
}


#title{
    color:#0d2137;
    font-size: 50px;
    text-align:center;
}

div{
    background-color: #0d2137;
    color:#E0EAF5;
    margin: 10px;
}

span{
    font-weight: bold;
}

h2#principal{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #FF8E2B;
    background-color: #0d2137;
    border: 2px solid #b8b8b8;
}